* {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 30rem;
  height: 25rem;
  background-color: beige;
  color: goldenrod;
  font-size: 5rem;
  border-style: solid;
  border-color: orange;
  border-width: 10px;
}

#container {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
}

#results {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: goldenrod;
}
h1 {
  display: flex;
  justify-content: center;
  color: goldenrod;
  font-size: 5rem;
}
h3 {
  padding: 50px 50px;
}
